@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Nunito', sans-serif;;
}

body {
    background-color: rgb(208, 222, 238);
    margin: 0;
    padding: 0;
}

header {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.body {
    flex: 1;
    display: flex;
  }  

  .card {
    display: flex
  }

aside {
    width: 25%;
    box-sizing: border-box;
    flex-shrink: 0;

}

#city-search {
    padding: 40px;
    margin: 20px 50px;
}

#previousSearches {
    width: 145px;
    border: dotted black;
    padding: 50px;
    height: auto;
}

#today-weather {
    width: auto;

}

#forecast {
    display: inherit;
}


.title {
    padding: 24px;
}

container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px;
    width: 100%;
}

p {
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
}

#current-city{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    justify-content: center;
}

#search {
    height: 27px;
}

.card {
    border: 1px solid #001A33;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;  
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
       
}

.dates{
    font-size: 26px;
}

.twh{
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.icons{
    vertical-align: middle;
    border-style: none;
}
/* CSS */
.button-2 {
    background-color: rgba(238, 174, 202, 1);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}